@font-face {
    font-family: 'Ubuntu';
    src: url(./fonts/Ubuntu/Ubuntu-Regular.ttf);
}
@font-face {
    font-family: 'Unlock';
    src: url(./fonts/Unlock/Unlock-Regular.ttf);
} 
/*Header*/
body{
    min-height: 100vh;
}

/*Header*/
header {
    display: grid;
    grid-template-columns: 1fr;
    background-color: black;
    padding-top: 20px;
    height: 150px;
    padding-bottom: 5px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    max-width: 400px;
    height: auto;
}
nav ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 0 auto;
    list-style: none;
    max-width: 1800px;
}

nav ul li {
    background-color: #EA2225;
    border: 1px white solid;
    border-radius: 10px;
    text-align: center;
    width: 150px;
}

li a {
    font-family: 'Unlock';
    text-decoration: none;
    color: black;
}

nav ul li:hover{
    background: linear-gradient(rgb(233, 64, 64), rgb(235, 128, 128))
}
/*responsive*/
@media (max-width: 1200px) {
    header {
        display: flex;
        flex-direction: column;
        height: auto; 
        padding: 20px; 
        width: auto;
    }
    
    .logo img {
        max-width: 200px; 
        justify-self: left;
    }

    nav ul li {
        width: 90px;
        height: 40px;
        margin: 10px;
        text-align: center;
        align-content:center ;
        font-size: smaller; 
    }
}

/*fin Header*/
/* main >>>*/
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#PatrickRisoli{
    z-index:1;
}

@keyframes animationMicro {
    0% {
    transform: rotate(20deg);
    }
    5%{
    transform: rotate(40deg);
    }
    10%{
    transform: rotate(60deg);
    }
    15%{
    transform: rotate(80deg);
    }
    20%{
    transform: rotate(100deg);
    }
    25% {
    transform: rotate(120deg);
    }
    30% {
    transform: rotate(140deg);
    }
    35%{
    transform: rotate(160deg);
    }
    40%{
    transform: rotate(180deg);
    }
    45%{
    transform: rotate(200deg);
    }
    50%{
    transform: rotate(220deg);
    }
    55% {
    transform: rotate(240deg);
    }
    60%{
    transform: rotate(260deg);
    }
    65%{
    transform: rotate(280deg);
    }
    70%{
    transform: rotate(300deg);
    }
    75%{
    transform: rotate(320deg);
    }
    85% {
    transform: rotate(340deg);
    }
    100% {
    transform: rotate(360deg);
    }
}

#microphone{
    position: relative;
    left: -253px;
    top: -810px;
    z-index:2;
    width:150px;
    height:auto;
    transform-origin: bottom right;
    animation: animationMicro .5s ease-in-out normal infinite;   
}


/*<<< main*/

/*Footer*/
footer {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    padding: 10px;
    background-color: black;
    color: white; 
    margin-top: auto;
    width: 100%; 
    /*position: fixed;*/
    bottom: 0; 
}

.EasterEgg {
    justify-self: start;
}

.ReseauxSociaux {
    justify-self: center;
    text-align: center;
}

.CopyRight {
    justify-self: end;
    text-align: right;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

li {
    margin: 0 10px;
}

li a img {
    width: 30px; 
}

